html, body{
    margin:0;
    height: 100%;
    overflow: hidden;
}

a{
    color:inherit !important;
    text-decoration: none !important;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
    width: "100%";
    text-align: center;
}
/* 
li {
    margin: auto;
    padding: 0 3px 0 3px;
    border : 0;
    display: inline-block;
    border-left: solid 1px black;
    text-align: center;
} */

li:first-child{
    border-left: none;
}

main {
    max-width: 1024px;
    /* max-height: 1131px; */
    align-items: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.input-group {
    /* text-align: center; */
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
  }
  
.input-group #search_btn {
    background-color: transparent;
    width: 100px;
    height: 84px;
    margin-left: 14px;
}

.form-control_rounded {
    width: 614px;
    height: 84px
}

.input-group #selectsearch {
    /* text-align: left; */
    width: 252px;
    height: 84px;
    margin:0 auto;
}

.container {
    text-align: center;
}

.btn_btn-danger{
    width: 100%;
    height: 84px;
    font-size: 36px;
    color: #FFFFFF;
    background-color: #095580;
    position: absolute;
    bottom: 125px;
    left:0;
    right:0;
}

.app-router {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  /* detailpagecss */
  
.image-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-detail__image-container {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}

.image-detail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-detail__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-detail__description {
  font-size: 16px;
  margin-bottom: 10px;
}

.image-detail__author {
  font-size: 14px;
  color: #888888;
}


